@use '@angular/material' as mat;
@import '../../../../theme/variables';

:host {
  width: 100%;
  display: flex;

  .translation-input,
  .translation-output {
    @media #{$mat-gt-xs} {
      width: calc(50% - 48px);
    }
  }

  @media #{$mat-lt-sm} {
    flex-direction: column;

    .translation-output {
      border-top: 1px solid map-get(mat.$light-theme-foreground-palette, divider);

      @media (prefers-color-scheme: dark) {
        border-top: 1px solid map-get(mat.$dark-theme-foreground-palette, divider);
      }
    }
  }

  > *:not(:last-child) {
    border-inline-end: 1px solid map-get(mat.$light-theme-foreground-palette, divider);

    @media (prefers-color-scheme: dark) {
      border-inline-end: 1px solid map-get(mat.$dark-theme-foreground-palette, divider);
    }
  }
}

.translation-input {
  position: relative;
  padding: 20px 24px;
  color: map-get(mat.$light-theme-foreground-palette, text);

  @media (prefers-color-scheme: dark) {
    color: map-get(mat.$dark-theme-foreground-palette, text);
  }

  #spoken-language-label {
    display: none;
  }

  textarea {
    background-color: transparent;
    color: inherit;
    border: none;
    direction: unset; // Important for initial cursor position
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 32px;
    resize: none;
    outline: none;
    width: 100%;
    height: calc(100% - 40px);
  }

  > div {
    display: flex;
  }

  #char-count {
    flex-grow: 1;
    align-self: center;
    text-align: end;
    font-size: 12px;
    line-height: 40px;
    padding-inline: 10px;
  }
}

// Numbers should always be left-to-right
::ng-deep html[dir='rtl'] #char-count {
  direction: ltr;
  text-align: start !important;
}

.translation-output {
  background-color: #f5f5f5;
  position: relative;

  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  padding: 20px 58px 20px 24px;
  color: #878787;
  font-size: 24px;
  line-height: 32px;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 150px;

  :first-child {
    flex-grow: 1;
  }

  @media (prefers-color-scheme: dark) {
    background-color: #202124;
  }
}

app-upload {
  text-align: center;
  padding: 43px 16px 65px;
  width: 100%;
}
